.loginMessage {
  position: relative;
  right: 10vw;
  margin-top: 30vh;
  color: #2d5ca0;
}
.loginMessage h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.logoutButton {
  background-color: #5cb9dc;
}

@media only screen and (max-width: 650px) {
  .container {
    margin-left: 20vw;
  }
}
