.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-2 {
  background: #e7eff6;
  position: absolute;
  top: 30%;
  right: 10%;
  height: 50%;
  width: 30%;
}
.login-form-2 h3 {
  text-align: left;
  margin: 5%;
  color: #2d5ca0;
}

.signUpLink {
  position: relative;
  top: 9vh;
  left: 35%;
  font-weight: bold;
  text-align: center;
  color: #5cb9dc !important;
  text-decoration: none;
}
.login-container form {
  padding: 10%;
}

input {
  background-color: none !important;
}

.login-form-2 .btnSubmit {
  width: 50%;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  float: right;
  margin-right: 2em;
  color: #fff;
  background-color: #5cb9dc;
}

.form-group {
  align-items: center;
}

.form-group input {
  min-width: 80%;
  max-width: 80%;
  margin: 10%;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 650px) {
  .login-form-2 {
    width: 80vw;
    margin-top: 12%;
    background-color: white;
  }

  .login-form-2 h3 {
    text-align: center;
    font-size: 3em;
    position: relative;
    bottom: 10vh;
  }

  .form-group input {
    background-color: #e7eff6;
  }

  .login-form-2 .btnSubmit {
    width: 80%;
  }

  .signUpLink {
    position: relative;
    top: 13vh;
    left: 20%;
    color: #2d5ca0 !important;
    display: inline-block;
    width: 60%;
  }
}
